
<div class="wrapper">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div class="padded">
          <!-- Read from data.flats with owner key -->
          <% flat = data.flats[owner] %>

          <!-- Inject flat data in template -->
          <div class="flat-card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path flat.picture %>');">
            <div class="flat-card-user">
              <%= image_tag flat.owner_picture, class: "flat-owner" %>
            </div>
          </div>
          <div class="text-center">
            <h2><%= flat.owner_name %></h2>
            <p><%= flat.city %></p>
            <h3><%= flat.summary %></h3>
            <p><%= flat.description %></p>
            <p>Maximum number of guests: <%= flat.maximum_number_of_guests %></p>
            <% flat.rating.times do %>
              <i class="fa fa-star" style="color: gold"></i>
            <% end %>
            <% (5 - flat.rating).times do %>
              <i class="fa fa-star-o" style="color: gold"></i>
            <% end %>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
